<!DOCTYPE html>
<html>
<head>
  

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <title>CSS Example</title>
</head>
<body>
	<div class="navbar">
<button>menu</button> <button>contact</button> <button>subscribe</button>
</div>

<h1>hi</h1>
<div class="pic1">
	<span class="border">
		
	</span>
</div>

<h3 id="hii"> Wanna become hi?</h3>
<p> You have came to the right place</p>
<p> get freshly made weed daily</p>
<div class="pic2">
	<span class="border">
		
	</span>
</div>
<div id="background3">
<h3> Why us?</h3>
<p> Hi gives people a chance to get friends,high, and also favor to the environment, by camping and getting handmade marijuana with new people </p>
</div>
<div class="pic3">
	<span class="border">
		
	</span>
</div>
<div id="background4">
<h3> Why us?</h3>
<p> Hi gives people a chang and getting handmade marijuana with new people </p>
</div>
 
</body>
</html>
